<h2><%= @task.title %></h2>
<p><%= @task.details %></p>

<%= link_to "Back", tasks_path %> |
<%= link_to "Edit", edit_task_path(@task) %>
<%= link_to "Delete", task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
